@{
    this.ViewData["Title"] = "Contacts";
}

<div class="jumbotron text-center">
    <h1 class="display-3">Thank You!</h1>
    <p class="lead">Your message is received and we will contact you soon.</p>
    <hr>
    <p>
        Having trouble? See our FAQ page.
    </p>
    <p class="lead">
        <a class="btn btn-primary btn-sm" asp-controller="Home" asp-action="Index">Continue to homepage</a>
    </p>
</div>