@using SoManyBooksSoLittleTime.Common
@model SoManyBooksSoLittleTime.Web.ViewModels.Home.IndexViewModel
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
     <a class="btn btn-warning" asp-controller="CollectBooks" asp-action="Add">Add books</a>
</div>
